# ==============================
#  Matrix Authentication Service
# ==============================
http:
  listeners:
  - name: web
    resources:
      - name: discovery
      - name: human
      - name: oauth
      - name: compat
      - name: graphql
      - name: assets
      - name: adminapi
    binds:
    - address: '[::]:8080'
    proxy_protocol: false

  - name: internal
    resources:
    - name: health
    binds:
    - host: 127.0.0.1
      port: 8081
    proxy_protocol: false

  trusted_proxies:
  - 192.168.0.0/16
  - 172.16.0.0/12
  - 10.0.0.0/8
  - 127.0.0.1/8
  - fd00::/8
  - ::1/128
  public_base: https://mas.private-messages.space/
  issuer: https://mas.private-messages.space/

secrets:
  encryption: 8b299ea4a3a488635b19469f06203ef549c39457622d4a448c89d7ee65326cae
  keys:
  - key: |
      -----BEGIN RSA PRIVATE KEY-----
      MIIEowIBAAKCAQEAoes7AxDtOJ7FBpNZ2LJCm0VgyjyR/oUyCZG1bt77jevkNa1M
      mNb8/Tcpcs6JjqRCj+4q1v9sP4RKh46TWuysAZHlKphrhK2h7M5IHjR7uX2qXsTi
      xb7mw2PGCV9QosNcAbcMaw0UIbEZTMzpr2CP62CHuzAl+f7NvP+cdP+I77DssSBx
      dmAk7w0lFB8giFsYqRm0w7BV9IwtQejh3q58tHpi4AgNXcG4vqS/IaEINZp1mDQH
      d2HPAjkDh3FxVGjBOZMfod+dPLdnTzCm4dZSg+K7Rss1m5MVDglOzaCOM9jU3yCA
      i/ry7IZnm7NOV/zf9karGrMh98kW4TCqeiekYwIDAQABAoIBADiY/NupgwITnVMb
      FoDEbrvPmHGYkn+hF0h5Ai5rCwsktXR9yxRxsaThLz/OKg8OI6Yj3h2g0rmxCEwx
      7hgOOmGiGbS16n9KIhugT10fg0/nOTI/J/VvMUKDEaodAxahqvt+fHy+6ZaNTQan
      ade/rQ7dgxRPVDb6dffmcU4ENF1zsB8rF6G1E010VB1Q/Y9zPW0Nv6rwYHkHwPeM
      PUfYYuZog67ptsCmfnFB/dEPK/iq8suj30h9Mgiq0RJtb/trwgQ1AazyY1fWSU8N
      ob044LlhaXrq6PgkkwVqvWus5w9St4oPkBMHKsnEgSaeyVi000wKAEyIqK9UgVve
      ZdhJyMECgYEA0nhnyNTvB0sxzNS5BeuZtqMZLjK4Y/gXUr+X2rbPb9/cPIsM1jVZ
      DPuD4qmLMBbwqsY/T0XhIy/FbJMvWVnBBrigTM36210Bgg4xrL7lj+qXkomY3Gie
      A6F1Cmqc0fXrH6slAn/aZQUnyRe9k/7wOrddLywsi+rXYuevoLGHRMsCgYEAxPIa
      bqUk49vTdbtL4JYKl7SckTKECxeWT9sUDBJleooE5JV39MBJkctCTrv5cqa+Z7wc
      vQ/LBlHiHVrRYG3Z9LRGkkIf2SNTAU+UiUfKBxl4ivy2N18POis1EWay4txT0Qr1
      E4qu0NrREI5rpfhWfaGkGuc6lONy4UCJMwMkw8kCgYBlfFuG8m3jlXWI8BXbbfRr
      pY9xwFE7Gxib9PiTJM03g7kdlGr3KzgqU2kPtXMBGD6qCffjEK3zmohWx03whp/V
      zta00img9uLQRGndgxsMXzEBHsoPlX6D/6mBAVFmyG68kXjCEMZNKcQ6afEm2Kob
      lekf4uwD95QuA8ui75drKwKBgQCGwg36BX/vdZwEY8rweln3Ifs7krAtEs+kBoh6
      FiBfr47XhbqVuvjcDJNrYk21+IgyXNHhP6wwv9iTM3AuphvLx4q+SwaVwgjqzbQa
      FwgSwYfsuixISQAXUjc2l+nxNscXM4MsAunJOOByjrDz2K/9uJucWPmJpPQXUtxO
      DmmamQKBgB4v1KBWCxjkd3HerGtMEDiR+G4AUx+Jo0uCDzgk+lIKgbRWX4DFpPAK
      1nEVQNAEFsi/oxvJHkkdwf0PEyn2AuFR2DEW9w+QpYO+mvV8tamOCRgv7IzcMlbc
      b89/zteL6W8AeSgcVPoCHSEtsaQCzsY3OdE2Q9Ba1uMG6IDOZVP+
      -----END RSA PRIVATE KEY-----
  - key: |
      -----BEGIN EC PRIVATE KEY-----
      MHcCAQEEILgUiWuhNCo8ycrS0PZqOHRd3pta4ZrAJNPyPJsK3gGOoAoGCCqGSM49
      AwEHoUQDQgAEABCjYWIDd0Te8IzdRIiHs1O0hWl+W5TLemWUixGzlu6xo6687AYp
      zLjd2E4gwEB4pSt2HnX/GSI3CAiL7hqGiw==
      -----END EC PRIVATE KEY-----
  - key: |
      -----BEGIN EC PRIVATE KEY-----
      MIGkAgEBBDCsFh42vci0eTKbV5NpqJ38ohbaZkx85umMhM0b+1H0QAgHS7fDmd0s
      d/OjympiC4qgBwYFK4EEACKhZANiAARaOGbgheNrrjh6U/eYBVxK7oMd2MwOH3Nq
      gwmcbAVDU4coBxzisdYEZMSNbvxngEbfy7YqK8yIaVfwN/cIXfrGWBSEWuTRHdby
      FXkq0uJNKPqE1Y60hx9oEtC4oD9q74A=
      -----END EC PRIVATE KEY-----
  - key: |
      -----BEGIN EC PRIVATE KEY-----
      MHQCAQEEIE+QJpUQ4l1t0vErDBnxPtSVSGfRPHNy6IZKD9z3hJwOoAcGBSuBBAAK
      oUQDQgAERXIq+ZqW9CMXpk9AiJ8ZpgLnr3oQsykJouNdF7r6qXS2kL/F4wEsLtQo
      kud0Ms7WccwS6le1TZh8SCO8pBsoDA==
      -----END EC PRIVATE KEY-----

# ------------------------------
#  База данных (PostgreSQL)
# ------------------------------

database:
  uri: postgresql://synapse:ZGm18BB68RfpXrzUJC2j@postgres:5432/mas?sslmode=disable

# ------------------------------
#  Matrix Synapse (делегирование)
# ------------------------------
matrix:
  kind: synapse
  homeserver: syn.private-messages.space
  secret: "1QPZW1M0MxHgK7SjNZx7"
  endpoint: http://synapse:8008
  database:
    uri: postgresql://synapse:ZGm18BB68RfpXrzUJC2j@postgres:5432/synapse?sslmode=disable

clients:
  - client_id: 0000000000000000000SYNAPSE
    client_auth_method: client_secret_post
    client_secret: 1QPZW1M0MxHgK7SjNZx7
    redirect_uris:
      - https://syn.private-messages.space/_synapse/client/oidc/callback
#
#passwords:
#  enabled: true
#  schemes:
#  - version: 1
#    algorithm: argon2id
#  minimum_complexity: 3

# ------------------------------
#  Регистрация пользователей
# ------------------------------
account:
  displayname_change_allowed: true
  password_registration_enabled: true
  password_registration_email_required: false
  password_change_allowed: true
  password_recovery_enabled: false
  account_deactivation_allowed: true
  login_with_email_allowed: false
  registration_token_required: true

login:
  # Controls how many login attempts are permitted
  # based on source IP address.
  # This can protect against brute force login attempts.
  per_ip:
    burst: 3
    per_second: 0.05
  per_account:
    burst: 1800
    per_second: 0.5
  registration:
    burst: 3
    per_second: 0.0008
# ------------------------------
#  UI (логотип, название)
# ------------------------------
ui:
  branding:
    name: "FF Matrix"
    # logo: "https://example.com/logo.svg"
    # favicon: "https://example.com/favicon.ico"

# ------------------------------
#  Логи
# ------------------------------
logging:
  level: info
  format: pretty